@page
@model LightNovelPub.Pages.Novels.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Novel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Novel.Title" class="control-label"></label>
                <input asp-for="Novel.Title" class="form-control" />
                <span asp-validation-for="Novel.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Novel.Author" class="control-label"></label>
                <input asp-for="Novel.Author" class="form-control" />
                <span asp-validation-for="Novel.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Novel.Summary" class="control-label"></label>
                <input asp-for="Novel.Summary" class="form-control" />
                <span asp-validation-for="Novel.Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Novel.Status" class="control-label"></label>
                <input asp-for="Novel.Status" class="form-control" />
                <span asp-validation-for="Novel.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Novel.Rank" class="control-label"></label>
                <input asp-for="Novel.Rank" class="form-control" />
                <span asp-validation-for="Novel.Rank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Novel.Views" class="control-label"></label>
                <input asp-for="Novel.Views" class="form-control" />
                <span asp-validation-for="Novel.Views" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Novel.Bookmarked" class="control-label"></label>
                <input asp-for="Novel.Bookmarked" class="form-control" />
                <span asp-validation-for="Novel.Bookmarked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Novel.ImageURL" class="control-label"></label>
                <input asp-for="Novel.ImageURL" class="form-control" />
                <span asp-validation-for="Novel.ImageURL" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Novel.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
